/* for creating space */
.spacer {
  height: 200px;
}

/* main content */
main {
  padding: 128px;
  max-width: 100%;
  overflow-x: clip;
}

section {
  margin-bottom: 6rem;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.sun {
  position: sticky;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
}

.intro-heading {
  font-size: var(--h-intro-size);
  text-decoration: underline;
  font-weight: var(--medium-font);
}

.intro-p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 70ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: var(--font-color);
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'tool stack live sc'
  ;
  place-content: start;
  gap: 16px;

}

#tool {
  grid-area: tool;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}

#tool h1 {
  font-weight: var(--medium-font);
}

#tool>p {
  font-weight: var(--normal-font);
  color: var(--font-color);
}

#stack {
  grid-area: stack;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}

#stack h1 {
  font-weight: var(--medium-font);
}

#stack>p {
  font-weight: var(--normal-font);
  color: var(--font-color);
}

#live {
  grid-area: live;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}

#live h1 {
  font-weight: var(--medium-font);
}

#sc {
  grid-area: sc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}

#sc h1 {
  font-weight: var(--medium-font);
}

/* end intro */

/* hero image */
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* end hero image */

/* purpose */
.purpose {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  transform: translateX(-25%);
  opacity: 0;
  will-change: transform opacity;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.purpose-header {
  font-size: var(--h-font-size);
  font-weight: 600;
  letter-spacing: 0.02em;
  font-weight: var(--medium-font);
}

.purpose-p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 70ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: var(--font-color);
}

/* end purpose */
/* tehcnology explanation */
.technology {
  opacity: 0;
  transform: translateX(25%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  will-change: transform opacity;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.technology-icons {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  align-items: flex-start;
}

.technology-explanation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}

.technology-explanation h3 {
  font-size: var(--h-font-size);
  font-weight: 600;
  letter-spacing: 0.02em;
  font-weight: var(--medium-font);
}

.technology-explanation p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 50ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: var(--font-color);
}

.flex-tech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: 50px;
}

/* end technology explanation */
/* pictures */
.picture-position {
  position: relative;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.picture-row-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  flex: 1;
}

.picture-row-two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  flex: 1;
}

.picture {
  object-fit: contain;
  object-position: center;
  opacity: 0;
  width: 50%;
  padding: 4px;
  height: 300px;
  width: 500px;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex: 1;
  will-change: transform opacity;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

#p1-observed {
  transform: translateY(-25%);
}

#p2-observed {
  transform: translateX(25%);
}

#p3-observed {
  transform: translateX(-25%);
}

#p4-observed {
  transform: translateY(25%);
}

.first {
  transform: translateY(-15%);
}

.last {
  transform: translateY(15%);
}

/* end pictures */

/* thoughts */
.thoughts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.thoughts h3 {
  font-size: var(--h-font-size);
  font-weight: 600;
  letter-spacing: 0.02em;
  font-weight: var(--medium-font);
}

.thoughts p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 70ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: var(--font-color);
}

/* lessons */
.lessons {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  will-change: transform opacity;
  transform: translateX(-25%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.lessons h3 {
  font-size: var(--h-font-size);
  font-weight: 600;
  letter-spacing: 0.02em;
  font-weight: var(--medium-font);
}

.lessons p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 70ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: var(--font-color);
}

/* footer */
footer {
  display: grid;
  grid-template-areas:
    'reach';
  width: 100%;
  padding: 16px;
  height: 200px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  opacity: 0;
  transform: translateY(-25%);
  will-change: transform opacity;
  transition: transform 1.5s, ease-out, opacity 1.5s ease-out;
}

footer h3 {
  font-size: var(--h-font-size);
  font-weight: 600;
  letter-spacing: 0.02em;
  justify-self: center;
  font-weight: var(--medium-font);
}

footer p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 70ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: var(--font-color);
  text-align: center;
}

.icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

/* responsive */
/* laptop */
@media screen and (max-width: 1075px) {
  .picture-row-one {
    flex-direction: column;
  }

  .picture-row-two {
    flex-direction: column;
  }

  .technology {
    flex-direction: column;
    gap: 64px;
  }

  .pictures {
    gap: 32px;
  }

  .first {
    transform: translateY(0%);
  }

  .last {
    transform: translateY(0%);
  }

  .spacer {
    height: 75px;
  }
}

/* tablets and medium sized devices */
@media screen and (max-width: 740px) {
  main {
    padding: 64px;
  }

  :root {
    --h-font-size: 1.75rem;
    --h-intro-size: 3rem;
  }

  .picture {
    width: 300px;
  }

}

@media screen and (max-width: 640px) {
  .stack {
    grid-template-areas:
      'tool'
      'stack'
      'live'
      'sc';
    grid-auto-rows: auto;
  }

  .intro {
    justify-content: center;
    align-items: center;
  }

  #tool {
    justify-content: center;
    align-items: center;
  }

  #stack {
    justify-content: center;
    align-items: center;
  }

  #live {
    justify-content: center;
    align-items: center;
  }

  #sc {
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 500px) {
  main {
    padding: 32px;
  }

}

@media screen and (max-width: 320px) {
  .picture {
    width: 275px;
  }
}