@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --p-font-size: 1.1rem;
  --h-font-size: 2.5rem;
  --h-intro-size: 5rem;
  --bit-distance: 10%;
}
/* Variables end */

.spacer {
    height: 200px;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* main content */
main {
    padding: 128px;
}

section {
    margin-bottom: 6rem;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.intro-heading {
    font-size: var(--h-intro-size);
    text-decoration: underline;
}

.intro-p {
    font-size: var(--p-font-size);
    font-weight: var(--normal-font);
    max-width: 70ch;
    line-height: var(--line-height);
    word-wrap: break-word;
    color: gray;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'tool stack live sc'
  ;
  place-content: start;
  gap: 16px;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.2);
}

#tool {
  grid-area: tool;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}


#stack {
  grid-area: stack;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}



#live {
  grid-area: live;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
  
}


#sc {
  grid-area: sc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
  padding: 8px;
}

  /* end intro */

  /* hero image */
  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .hero-img img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  /* end hero image */

  /* purpose */

  .purpose {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    transform: translateX(-25%);
    opacity: 0;
    will-change: transform opacity;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
  }

  .purpose-header {
    font-size: var(--h-font-size);
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  .purpose-p {
    font-size: var(--p-font-size);
    font-weight: var(--normal-font);
    max-width: 70ch;
    line-height: var(--line-height);
    word-wrap: break-word;
    color: gray;
  }

  /* end purpose */

  /* tehcnology explanation */
  .technology {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .technology-icons {
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .technology-explanation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
  }

  .technology-explanation h3 {
    font-size: var(--h-font-size);
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  .technology-explanation p {
    font-size: var(--p-font-size);
    font-weight: var(--normal-font);
    max-width: 50ch;
    line-height: var(--line-height);
    word-wrap: break-word;
    color: gray;
  }

  .flex-tech {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    height: 50px;
  }

  /* end technology explanation */

  /* pictures */
  .picture-position {
    position: relative;
  }
  .pictures {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 8px;
  }

  .picture-row-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    flex: 1;
  }

  .picture-row-two {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    flex: 1;
  }

  .picture {
    object-fit: contain;
    object-position: center;
    width: 50%;
    padding: 4px;
    height: 300px;
    width: 500px;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    flex: 1;
  }

  .first {
    transform: translateY(-15%);
  }

  .last {
    transform: translateY(15%);
  }
  /* end pictures */

  /* thoughts */
  .thoughts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 16px;
  }

  .thoughts h3 {
    font-size: var(--h-font-size);
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  .thoughts p {
    font-size: var(--p-font-size);
    font-weight: var(--normal-font);
    max-width: 70ch;
    line-height: var(--line-height);
    word-wrap: break-word;
    color: gray;
  }
/* lessons */
  .lessons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }

  .lessons h3 {
    font-size: var(--h-font-size);
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  .lessons p {
    font-size: var(--p-font-size);
    font-weight: var(--normal-font);
    max-width: 70ch;
    line-height: var(--line-height);
    word-wrap: break-word;
    color: gray;
  }

  /* footer */

  footer {
    display: grid;
    grid-template-areas: 
    'reach';
    width: 100%;
    padding: 16px;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

footer h3 {
  font-size: var(--h-font-size);
  font-weight: 600;
  letter-spacing: 0.02em;
  justify-self: center;
}

footer p {
  font-size: var(--p-font-size);
  font-weight: var(--normal-font);
  max-width: 70ch;
  line-height: var(--line-height);
  word-wrap: break-word;
  color: gray;
  text-align: center;
}

footer a:hover {
  transform: scale(1.2);
}


.icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}


/* responsive */
/* laptop */
@media screen and (max-width: 1075px){
 .picture-row-one {
  flex-direction: column;
 }

 .picture-row-two {
  flex-direction: column;
 }

 .technology {
  flex-direction: column;
  gap: 64px;
 }

 .pictures {
  gap: 32px;
}

.first {
  transform: translateY(0%);
}

.last {
  transform: translateY(0%);
}

.spacer {
  height: 75px;
}
}

/* tablets and medium sized devices */
@media screen and (max-width: 740px){

  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  main {
    padding: 64px;
  }
  :root{
    --h-font-size: 1.75rem;
    --h-intro-size: 3rem;
  }

  .picture {
   width: 300px;
  }
   
}

@media screen and (max-width: 640px){
  .stack {
    grid-template-areas: 
    'tool'
    'stack'
    'live'
    'sc';
    grid-auto-rows: auto;
  }

  .intro {
    justify-content: center;
    align-items: center;
  }

  #tool {
    justify-content: center;
    align-items: center;
  }

  #stack {
    justify-content: center;
    align-items: center;
  }

  #live {
    justify-content: center;
    align-items: center;
  }

  #sc {
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 320px){
  main {
    padding: 16px;
  }

  .picture {
    width: 275px;
  }
}

