/* body */
body {
  isolation: isolate;
}

/* Hero section */
/* for vanta js background-image */
canvas.vanta-canvas {
  background: -webkit-linear-gradient(bottom, rgba(249, 251, 240, 1) 10%, rgba(215, 253, 254, 1) 20%, rgba(167, 222, 253, 1) 40%, rgba(110, 175, 255, 1) 100%);
  background: -moz-linear-gradient(bottom, rgba(249, 251, 240, 1) 10%, rgba(215, 253, 254, 1) 20%, rgba(167, 222, 253, 1) 40%, rgba(110, 175, 255, 1) 100%);
  background: -ms-linear-gradient(bottom, rgba(249, 251, 240, 1) 10%, rgba(215, 253, 254, 1) 20%, rgba(167, 222, 253, 1) 40%, rgba(110, 175, 255, 1) 100%);
  background: linear-gradient(bottom, rgba(249, 251, 240, 1) 10%, rgba(215, 253, 254, 1) 20%, rgba(167, 222, 253, 1) 40%, rgba(110, 175, 255, 1) 100%) !important;
  opacity: 0.52;
}

.hero {
  position: relative;
  top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 100%;
  margin: auto;
  padding: 16px;
}

.hero img {
  height: 25.5rem;
  width: 25.5rem;
  object-fit: cover;
  object-position: center;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

#nameHero {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: var(--medium-font);
  color: black;
}

.bio {
  width: 27rem;
  padding: 0.625rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--medium-font);
}

#a {
  font-size: 3rem;
}

.bio-title {
  text-align: center;
  font-weight: var(--medium-font);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: var(--font-color);
  text-align: center;
  font-weight: var(--normal-font);
}

/* Hero section ends */

/* More about */
.about-title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: var(--medium-font);
}

.more-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  place-content: center;
  padding: 1rem 6rem;
  gap: 32px;
  border-bottom: 2px solid var(--primary-color);
}

.more-about>p {
  font-size: var(--p-font-size);
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: var(--normal-font);
  color: var(--font-color);
  text-align: center;
}

.more-about p:nth-child(1) {
  grid-column: 1/1;
  line-height: var(--line-height);
  padding: 0.4rem;
}

.more-about p:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  line-height: var(--line-height);
  padding: 0.4rem;
}

.more-about p:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 3.5rem;
}

.sticky-container {
  width: 100%;
  height: 100%;
}

.skill {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform opacity;
  transform: translateX(25%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.skill-row2 {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform opacity;
  transform: translateX(-25%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.skill-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: var(--medium-font);
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.skill>h1 {
  color: var(--font-color);
  font-weight: var(--medium-font);
}

.skill-row2>h1 {
  color: var(--font-color);
  font-weight: var(--medium-font);
}

/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 1rem 3.5rem;
  margin-top: 2rem;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 16px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.img-container {
  width: 100%;
  max-height: 200px;
  height: 200px;
}


.project-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: calc(3rem + 10px);
  font-weight: var(--medium-font);
}

.project-title {
  margin-bottom: var(--bottom-margin);
  font-weight: var(--medium-font);
}

.project-details {
  margin-bottom: var(--bottom-margin);
  font-size: var(--p-font-size);
  word-wrap: break-word;
  hyphens: auto;
  line-height: var(--line-height);
  color: var(--font-color);
  font-weight: var(--normal-font);
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
  padding: 1rem 3.5rem;
}

.in-touch {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: var(--medium-font);
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-top: 24px;
  gap: 150px;
}

.contact-form {
  max-width: 40.75rem;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.technology-icons {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-tech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: 50px;
}

.input-field::placeholder {
  padding-left: 10px;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  border-top: 2px solid var(--primary-color);
}

footer p {
  color: black;
  font-size: 1.15rem;
}

/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1010px) {
  .hero {
    flex-direction: column;
  }

  .more-about {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .hero {
    top: -20px;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  #welcome {
    font-size: 3rem;
  }

  .hero img {
    height: 25rem;
    width: 25rem;
    object-fit: contain;
    object-position: center;
  }

  .bio {
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .projects {
    padding: 1rem 0.5rem;
  }

  .skills {
    padding: 1rem 0.5rem;
  }

  .contact {
    padding: 1rem 0.5rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .contact-form-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 17rem;
    width: 17rem;
    object-fit: contain;
    object-position: center;
  }

  #welcome {
    font-size: 2rem;
  }

  .bio {
    width: 16.3rem;
  }
}
